.headline_orderlist{
   padding: 16px;
}

h3{
   margin-top: 0;
   padding-left: 16px;
   margin-bottom: o;

}

.order_list{
   border: 1px solid rgba(85, 40, 3, 0.089);
   margin-top: 16px;
   padding-left: 16px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.price{
   color: #f86600;
   font-weight: bold;
   padding-bottom: 11px;
}

.order_list img{
   width: 35px;
   height: 35px;
   padding: 10px;
}
.order_list:hover{
   background-color: #f867004b;
   cursor: pointer;
}

/* dialog */

dialog{
   padding: 30px 20px 40px 20px ;
   text-align: center;
   width: 500px;
   height: 300px;
   font-family:Arial, Helvetica, sans-serif;
   border-color:#f86600;  
   background-color: rgba(250, 235, 215, 0.781);
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.time{
   background-color: #fff;
   width: 70px;
   height: 70px;
   border-radius: 100%;
   border: 3px solid #f86600;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}

.pay_text{
   font-weight: bolder;
   color: #f86600;
}
